html, body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}

div {
    box-shadow: inset 0px 0px 0px 2px black;
}

.hidden {
    display: none !important
}

.container {
    margin: 0 auto;
    height: 100vh;
    width: 133vh;
    box-shadow: inset 0px 0px 0px 5px black;
    background: white;
}




.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40vh;
    font-size: 10vh;
}

#splashButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 40%;
    gap: 5%;
}

#cust {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110vh;
    height: 80vh;
    background-color: skyblue;
    font-size: 40%;
    gap: 2%;
}

#credits {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110vh;
    height: 80vh;
    background-color: skyblue;
}

#saveSettings {
    position: absolute;
    bottom: 10%;
}

#colourSelectorMain {
    opacity: 1;
}




.playGame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#HUD {
    height: 10vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 5vh;
}

#spacer {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

#gameplay {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}