html, body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
    overflow: clip;
}

div {
    box-shadow: inset 0px 0px 0px 2px black;
}

.hidden {
    display: none !important
}

.container {
    margin: 0 auto;
    height: 100vh;
    width: 133vh;
    box-shadow: inset 0px 0px 0px 5px black;
    background: white;
}




.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40vh;
    font-size: 10vh;
}

#splashButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 40%;
    gap: 5%;
}

#cust {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110vh;
    height: 80vh;
    background-color: skyblue;
    font-size: 40%;
    gap: 2%;
}

#credits {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110vh;
    height: 80vh;
    background-color: skyblue;
}

#saveSettings {
    position: absolute;
    bottom: 10%;
}

#colourSelectorMain {
    opacity: 1;
}




.mainGame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: visible;
}

#HUD {
    height: 10vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 5vh;
}

#spacer {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

#gameplay {
    flex-grow: 1;
    width: 100%;
}

#hands {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#playerHand, #cpuHand {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 30vh;
    width: 30vh;
}

#playerHand {
    left: -15%;
}

#cpuHand {
    right: -15%;
}

#rpsSelection {
    position: absolute;
    display: flex;
    gap: 10vh;
}

#rock, #paper, #scissors {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 30vh;
    background: white;
    font-size: 5vh;
}


#displayResult {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: white;
    height: 70vh;
    width: 120vh;
    font-size: 6vh;
}

#result, #winningHand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vh;
    text-align: center;
}

#resultButtons {
    position: absolute;
    display: flex;
    font-size: 3vh;
    gap: 10%;
    bottom: 10%;
    background: white;
}








.playerShoot {
    animation: playerShoot 0.25s 4 ease-in;
}

.cpuShoot {
    animation: cpuShoot 0.25s 4 ease-in;
}

.playerWin {
    animation: playerWin 1.3s 1;
}

.playerLose {
    animation: playerLose 1.3s 1;
}

.cpuWin {
    animation: cpuWin 1.3s 1;
}

.cpuLose {
    animation: cpuLose 1.3s 1;
}


@keyframes playerShoot {
    66%{
        transform: translate(-20vh, -10vh);
    }
}

@keyframes cpuShoot {
    66%{
        transform: translate(20vh, -10vh);
    }
}

@keyframes playerWin {
    5%{
        transform: translate(180%, 0);
    }
}

@keyframes cpuWin {
    5%{
        transform: translate(-180%, 0);
    }
}

@keyframes playerLose {
    20%{
        ;
    }
    30%{
        transform: translate(-400%, 0);
    }
    100%{
        transform: translate(-400%, 0);
    }
}

@keyframes cpuLose {
    20%{
        ;
    }
    30%{
        transform: translate(400%, 0);
    }
    100%{
        transform: translate(400%, 0);
    }
}