html, body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}

div {
    box-shadow: inset 0px 0px 0px 2px black;
}


.container {
    margin: 0 auto;
    height: 100vh;
    width: 133vh;
    box-shadow: inset 0px 0px 0px 10px black;
}

.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40vh;
    font-size: 10vh;
}



.handSelection {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hand {
    height: 65%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23vh;
    text-align: center;
}

#handSelectionAttributes {
    height: 65%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 3.5vh;
    padding-left: 2%;
    gap: 5%;
}

#handChoice {
    width: 94%;
}

#handChoiceHeading {
    font-size: 100%;
}

#handChoiceSelectors {
    display: flex;
    gap: .5vw;
    font-size: 80%;
}

#colourSelector {
    width: 94%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 100%;
}

#colourSelectionBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-size: 80%;
}

#continueGame {
    position: absolute;
    bottom: 10%;
}




.hidden {
    display: none;
}